pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"modifiedDatetimeStart": "2022-06-24T00:00:00.167Z",
							"wildcardFileName": "*.parquet",
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "AzureMySqlSink",
						"writeBatchSize": 10000,
						"writeBatchTimeout": "00:00:30"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "LocationID",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "id",
									"type": "UInt64",
									"physicalType": "bigint"
								}
							},
							{
								"source": {
									"name": "Borough",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "borough",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "service_zone",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "service_zone",
									"type": "String",
									"physicalType": "varchar"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "trips",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "taxi_zone",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://api.exchangeratesapi.io/v1/latest?access_key=7886aba1587994474f2cbc62571ac672&base=EUR&symbols=USD",
					"method": "GET"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "DollarCourse",
					"value": {
						"value": "@string(activity('Web1').output.rates.USD)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"DollarCourse": {
				"type": "String"
			}
		},
		"annotations": []
	}
}